{{!-- Client words --}}
<div id="client-remarks">
	<h4>{{caseStudy.clientRemarksHeader}}</h4>
	<p>{{caseStudy.clientRemarks}}</p>
	<div id="client-profile">
		<img src="{{caseStudy.clientPortfolioPic}}" alt="Client pic">
		<div class="continued-block">
			<h4>
				{{caseStudy.clientName}}
				<a href="{{caseStudy.clientLinkedIn}}">
					<img src="img/ic_linkedin_profile.svg" alt="Linked In" class="micro">
				</a>
			</h4>
			<p>{{caseStudy.clientTitleAndPosition}}</p>
		</div>
	</div>
</div>