<img src="{{caseStudy.heroImage}}"
 alt="Case Study Banner" 
 class="case-study-banner">

<div class="case-study-body">

	{{!-- Case Study Summary --}}

	<div class="project-outline minor">
		<div class="outline-detail">
			<span class="detail-header minor">start date</span>
			<span class="detail-value">Nov 2016</span>
		</div>
		<div class="outline-detail">
			<span class="detail-header minor">status</span>
			<span class="detail-value capitalize">{{caseStudy.status}}</span>
		</div>
		<div class="outline-detail">
			<div id="view-site" class="detail-value capitalize"><a href={{caseStudy.projectUrl}}>view site</a></div>
		</div>
		<div class="outline-detail">
			<span class="detail-header minor">share</span>
			<span class="detail-value capitalize">
				<a href="{{caseStudy.facebookShare}}">
					<img src="img/ic_facebook_share.svg" alt="Facebook" class="micro">
				</a>
				<a href="{{caseStudy.twitterShare}}">
					<img src="img/ic_twitter.svg" alt="Twitter" class="micro">
				</a>
				<a href="{{caseStudy.linkedInShare}}">
					<img src="img/ic_linkedin.svg" alt="Linked In" class="micro">
				</a>
			</span>
		</div>
	</div>
	<div class="project-outline major">
		<div class="outline-detail major">
			<div class="detail-header major">project summary</div>
			<div class="detail-value major">{{caseStudy.projectSummary}}</div>
		</div>
		<div class="outline-detail major">
			<div class="detail-header major">deliverables</div>
			<div class="detail-value major">{{caseStudy.deliverables}}</div>
		</div>
		<div class="outline-detail major">
			<div class="detail-header major">client</div>
			<div class="detail-value major">
				{{caseStudy.clientName}}
				<a href="{{caseStudy.clientLinkedIn}}">
					<img src="img/ic_linkedin_profile.svg" alt="Linked In" class="micro">
				</a>
			</div>
		</div>
	</div>

	{{!-- Intro and overview --}}

	<h1>{{caseStudy.openingHeader}}-</h1>
	<h2>{{caseStudy.openingSubText}}</h2>
	<p>{{caseStudy.introduction}}</p>

	{{!-- Challenge and Roles --}}

	<div id="challenge">
		<h2 class="highlighted-header">the challenge</h2>
		<p>{{caseStudy.challenge}}</p>
	</div>
	<div id="role">
		<h2 class="highlighted-header">my role</h2>
		<p>{{caseStudy.myRolesCommaSeperated}}</p>
	</div>
	<div style="clear: both;"></div> <!-- Clear the floats -->

	{{!-- Stage 1 --}}

	<h2>{{caseStudy.stage1Header}}</h2>
	<p>{{caseStudy.stage1Text}}</p>

	<h3>{{caseStudy.stage1Subheader1}}</h3>
	<p>{{caseStudy.stage1Subheader1Text}}</p>

	{{!--TODO conditional cannalign lists --}}

	<h3>{{caseStudy.stage1Subheader2}}</h3>
	<p>{{caseStudy.stage1Subheader2Text}}</p>

	<h3>{{caseStudy.stage1Subheader3}}</h3>
	<p>{{caseStudy.stage1Subheader3Text}}</p>

	<img class="case-study-related" src="{{caseStudy.stage1ClosingImage}}" alt="Stage 1 closing image">
	<p class="case-study-related captions">{{caseStudy.stage1ClosingImageCaption}}</p>

	{{!-- Stage 2 --}}

	<h2>{{caseStudy.stage2Header}}</h2>
	<p>{{caseStudy.stage2Text}}</p>

	<img class="case-study-related" src="{{caseStudy.stage2Image}}" alt="Stage 2 closing image">
	<p class="case-study-related captions">{{caseStudy.stage2ImageCaptions}}</p>

	{{!-- Stage 3 --}}
	<h2>{{caseStudy.stage3Header}}</h2>
	<p>{{caseStudy.stage3Text}}</p>

	<h3>{{caseStudy.stage3Subheader1}}</h3>
	<p>{{caseStudy.stage3Subheader1Text}}</p>

	{{!-- Moodboards --}}
	<div class="moodboards">
		<div class="big">
			<img src="{{caseStudy.stage3MoodboardImage1}}" alt="Moodboard 1">
		</div>
		<div class="small">
			<img src="{{caseStudy.stage3MoodboardImage2}}" alt="Moodboard 2">
			<img src="{{caseStudy.stage3MoodboardImage3}}" alt="Moodboard 3">
			<img src="{{caseStudy.stage3MoodboardImage4}}" alt="Moodboard 4">
			<img src="{{caseStudy.stage3MoodboardImage5}}" alt="Moodboard 5">
		</div>
	</div>
	<p class="case-study-related captions">{{caseStudy.stage3MoodboardCaptions}}</p>

	<h3>{{caseStudy.stage3Subheader2}}</h3>
	<p>{{caseStudy.stage3Subheader2Text}}</p>

	<h3>{{caseStudy.stage3Subheader3}}</h3>
	<p>{{caseStudy.stage3Subheader3Text}}</p>

	<a id="case-study-behance-link" href="{{caseStudy.url}}">
		<img src="img/case-studies/btn_Behance.png" alt="Behance link">
	</a>

	<img class="case-study-related" src="{{caseStudy.stage3ClosingImage}}" alt="Stage 3 closing image">
	<p class="case-study-related captions">{{caseStudy.stage3ClosingImageCaptions}}</p>

	{{!-- Client words --}}
	<div id="client-remarks">
		<h4>{{caseStudy.clientRemarksHeader}}</h4>
		<p>{{caseStudy.clientRemarks}}</p>
		<div id="client-profile">
			<img src="{{caseStudy.clientPortfolioPic}}" alt="Client pic">
			<div class="continued-block">
				<h4>
					{{caseStudy.clientName}}
					<a href="{{caseStudy.clientLinkedIn}}">
						<img src="img/ic_linkedin_profile.svg" alt="Linked In" class="micro">
					</a>
				</h4>
				<p>{{caseStudy.clientTitleAndPosition}}</p>
			</div>
		</div>
	</div>

	{{!-- Conclusion --}}

	<h3>{{caseStudy.conclusion}}</h3>
	<p>{{caseStudy.conclusionText}}</p>

	{{!-- Previous and Next case studies --}}
	
	<div class="other-case-studies float-left">
		<h3 class="highlighted-header">
			view on behance
			<img class="micro" src="img/ic_open_tab.svg" alt="Opens in new tab">
		</h3>
		<p>Appinventive- Branding India's leading mobile app development company (TODO)</p>
	</div>

	<div class="other-case-studies float-right">
		<h3 class="highlighted-header">read next case study</h3>
		<p>VEME- Empowering the future of social media and decentralised media on blockchain (TODO)</p>
	</div>
	<div style="clear: both;"></div> <!-- Clear the floats -->

</div>