{{!-- Intro and overview --}}

<h1>{{{__ 'veme.openingHeader'}}}-</h1>
<h2>{{{__ 'veme.openingSubText'}}}</h2>
<p>{{{__ 'veme.introduction'}}}</p>
<p>{{{__ 'veme.introLink'}}}</p>
<p class="notice">{{{__ 'veme.underDevelopmentNotice'}}}</p>



{{!-- Challenges and roles --}}

{{>challenges-roles}}


{{!-- Background --}}

<h2>{{__ 'veme.background.header'}}</h2>
<h3>{{__ 'veme.background.subHeader'}}</h3>
<p>{{__ 'veme.background.exposition.para1'}}</p>
<p>{{__ 'veme.background.exposition.para2'}}</p>



{{!-- Business and Competetive Analysis --}}

<h2>{{{__ 'veme.analysis.header'}}}</h2>
<h3>{{{__ 'veme.analysis.subHeader'}}}</h3>
<p>{{{__ 'veme.analysis.text1'}}}</p>
{{!-- TODO full width image --}}
<p>{{{__ 'veme.analysis.text2'}}}</p>
{{!-- TODO full width image --}}
<p>{{{__ 'veme.analysis.text3'}}}</p>
{{!-- TODO full width image --}}
<p>{{{__ 'veme.analysis.conclusion.header'}}}</p>
<ul>
	<li>{{{__ 'veme.analysis.conclusion.bullet1'}}}</li>
	<li>{{{__ 'veme.analysis.conclusion.bullet2'}}}</li>
	<li>{{{__ 'veme.analysis.conclusion.bullet3'}}}</li>
</ul>



{{!-- Prototype to Design --}}

<h2>{{{__ 'veme.design.header'}}}</h2>
<p>{{{__ 'veme.design.text'}}}</p>
{{!-- TODO 4 images row wise --}}



{{!-- Final Output --}}

<h2>{{{__ 'veme.output.header'}}}</h2>
<p>{{{__ 'veme.output.text'}}}</p>
{{!-- TODO center aligned image --}}



{{!-- Client words --}}

{{>client-remarks}}



{{!-- Conclusion --}}

<h2>{{__ 'veme.conclusion.header'}}</h2>
<p>{{__ 'veme.conclusion.para1'}}</p>
<p>{{__ 'veme.conclusion.para2'}}</p>
